---
const links = [
  { href: "/", label: "Listado" },
  { href: "/pokemons/1", label: "Paginado" },
  { href: "/favorites", label: "Favoritos" },
];

const currentPath = Astro.url.pathname;
---

<nav class="shadow bg-slate-800">
  <div
    class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
  >
    <!--{
      links.map(({ href, label }) => (
        <a
          href={href}
          class:list={[
            "mx-1.5 sm:mx-6text-gray-800 dark:text-gray-200 ",
            {
              "border-b-2 border-blue-500": currentPath === href,
            },
          ]}
        >
          {label}
        </a>
      ))
}-->

    {
      links.map(({ href, label }) => (
        <div>
          <a href={href} class="mx-1.5 sm:mx-6text-gray-800 dark:text-gray-200">
            {label}
          </a>

          {
            currentPath === href ? (
              <div class="border-b-2 border-blue-500 mx-4" />
            ) : (
                <div class="border-b-2 border-transparent" />
            )
          }

          <!-- <div 
          transition:name={`menu-line`}
          class="border-b-2 border-blue-500 mx-4" /> -->
        </div>
      ))
    }
  </div>
</nav>
